<div class="header bg-gradient-danger pb-8 pt-5 pt-md-8">
  <div class="container-fluid">
    <div class="header-body">
      <!-- Card stats -->
      <div class="row">
        <div class="col-xl-6 col-lg-6">
          <div class="card card-stats mb-4 mb-xl-0">
            <div class="card-body">
              <div class="row">
                <div class="col">
                  <h3 class="card-title text-uppercase text-muted mb-0">Services</h3>
                  <span class="h2 font-weight-bold mb-0 display-1">10</span>
                </div>
                <div class="col-auto">
                  <div class="icon icon-shape bg-danger text-white rounded-circle shadow">
                    <i class="fas fa-chart-bar"></i>
                  </div>
                </div>
              </div>

            </div>
          </div>
        </div>
        <div class="col-xl-6 col-lg-6">
          <div class="card card-stats mb-4 mb-xl-0">
            <div class="card-body">
              <div class="row">
                <div class="col">
                  <h3 class="card-title text-uppercase text-muted mb-4 ">Services</h3>
                  <button class="btn btn-success mt-3" [routerLink]="['/services-admin/create']"> <i class="fa fa-plus"></i> Nouveau</button>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

    </div>
  </div>
</div>
<!-- Page content -->
<div class="container-fluid mt--7">
  <!-- Table -->
  <div class="row">
    <div class="col">
      <div class="card shadow">
        <div class="card-header border-0">
          <h3 class="mb-0">Les Services</h3>
        </div>
        <div class="loader-container" *ngIf="loading">
          <div class="loader"></div>
        </div>
        <div  *ngIf="!loading"class="table-responsive">
          <table  class="table align-items-center table-flush">
            <thead class="thead-light">
              <tr>
                <th scope="col">Image</th>
                <th scope="col">Nom</th>
                <th scope="col">Prix</th>
                <th scope="col">Delai</th>
                <th scope="col"></th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let service of Services; let i = index">
                <th scope="row">
                  <div class="media align-items-center">
                    <a href="javascript:void(0)" class="avatar rounded-circle mr-3">
                      <img alt="Image placeholder" [src]="displayImage(service.image)" alt="{{ service.name }} Image" style="
                      object-fit: cover;
                      height: 3em;
                      width: 3em;
                  ">
                    </a>
                  </div>
                </th>
                <td>
                 {{ service.name }}
                </td>
                <td>

                  {{ service.price }} AR
                </td>
                <td>
                  {{ service.time }} MN
                </td>
                <td>

                  <div class="d-flex align-items-center">
                    <div class="col">
                      <span class="edit" [routerLink]="['/services-admin/edit/', service._id]">
                        <button type="button" class="btn btn-success btn-sm"><i class="fa fa-pen"></i>Modifier</button>
                      </span>
                      <span class="delete" (click)="removeService(service, i)">
                        <button type="button" class="btn btn-danger btn-sm"><i class="fa fa-trash"></i>Supprimer</button>
                      </span>
                    </div>
                  </div>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
        <div class="card-footer py-4">
          <nav aria-label="...">
            <ul class="pagination justify-content-end mb-0">
              <li class="page-item disabled">
                <a class="page-link" href="javascript:void(0)" tabindex="-1">
                  <i class="fas fa-angle-left"></i>
                  <span class="sr-only">Previous</span>
                </a>
              </li>
              <li class="page-item active">
                <a class="page-link" href="javascript:void(0)">1</a>
              </li>
              <li class="page-item">
                <a class="page-link" href="javascript:void(0)">2 <span class="sr-only">(current)</span></a>
              </li>
              <li class="page-item"><a class="page-link" href="javascript:void(0)">3</a></li>
              <li class="page-item">
                <a class="page-link" href="javascript:void(0)">
                  <i class="fas fa-angle-right"></i>
                  <span class="sr-only">Next</span>
                </a>
              </li>
            </ul>
          </nav>
        </div>
      </div>
    </div>
  </div>

</div>
