.bg-gradient-danger {
  background: linear-gradient(87deg, #3f2b87 0, #7c7ad7 100%) !important;
}


.card-profile-image-container {

  img {
    filter: blur(0);
    transition: filter 0.3s ease;
  }

  &:hover img {
    filter: blur(2px);
  }


  input[type="file"] {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0;
    cursor: pointer;
  }

}
