<div class="header bg-gradient-danger pb-8 pt-5 pt-md-8">
  <div class="container-fluid">
    <div class="header-body">
      <!-- Card stats -->
      <div class="row">
        <div class="col-xl-6 col-lg-6">
          <div class="card card-stats mb-4 mb-xl-0">
            <div class="card-body">
              <div class="row">
                <div class="col">
                  <h3 class="card-title text-uppercase text-muted mb-0">Rendez-vous actuel</h3>
                  <span class="h2 font-weight-bold mb-0 display-1">1</span>
                </div>
                <div class="col-auto">
                  <div class="icon icon-shape bg-danger text-white rounded-circle shadow">
                    <i class="fas fa-chart-bar"></i>
                  </div>
                </div>
              </div>
              <p class="mt-3 mb-0 text-muted text-sm">
                <span class="text-nowrap">Voir details</span>
              </p>
            </div>
          </div>
        </div>
        <div class="col-xl-6 col-lg-6">
          <div class="card card-stats mb-4 mb-xl-0">
            <div class="card-body">
              <div class="row">
                <div class="col">
                  <h3 class="card-title text-uppercase text-muted mb-0">Rendez-vous passe</h3>
                  <span class="h2 font-weight-bold mb-0 display-1">10</span>
                </div>
                <div class="col-auto">
                  <div class="icon icon-shape bg-danger text-white rounded-circle shadow">
                    <i class="fas fa-chart-bar"></i>
                  </div>
                </div>
              </div>
              <p class="mt-3 mb-0 text-muted text-sm">
                <span class="text-nowrap">Voir details</span>
              </p>
            </div>
          </div>
        </div>
      </div>

    </div>
  </div>
</div>
<div class="container-fluid">
  <div class="row my-4">
    <div class="col-xl-12 col-lg-12 my-4">
      <div class="card card-stats mb-4 mb-xl-0">
        <div class="card-header">
          <div class="row">
            <div class="col">
              <h3 class="card-title text-uppercase text-muted mb-0">Prendre Rendez-Vous Maintenant</h3>
            </div>
              <app-cart-list class="container"></app-cart-list>
          </div>
        </div>

        <div class="card-body" >
          <div class="col">
            <h2> Choisissez les services en premier</h2>
          </div>

          <div class="loader-container" *ngIf="loading">
            <div class="loader"></div>
          </div>
            <div *ngIf="!loading"  class="row">
               <div class="col-md-3" *ngFor="let service of Services">
                <div class="card" style="width: 18rem;">
                  <img src="../../../assets/img/services/service-default.jpeg" class="card-img-top" alt="...">
                  <div class="card-body">
                    <h5 class="card-title">{{service.name}}</h5>
                    <p class="card-text">Prix : {{service.price}} AR</p>
                    <p class="card-text">Duree : {{service.time}} mn</p>
                    <a (click) ="addToCart(service)" class="btn btn-primary">Prendre service</a>
                  </div>
                </div>
               </div>
            </div>
        </div>
      </div>
    </div>
  </div>
</div>
